*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --main-ff: "Inter", sans-serif;
  --heading-ff: "Inter", sans-serif;
  --subheading-ff: "Inter", sans-serif;

  --main-fw: 300;
  --heading-fw: 700;
  --subheading-fw: 600;

  --primary-color: #c065e7;
  --secondary-color: #ff7591;
  --tertiary-color: #ffce5b;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--main-ff);
  font-weight: var(--main-fw);
}

h1 {
  font-family: var(--heading-ff);
  font-weight: var(--heading-fw);
  font-size: 3em;
}

h2,
h3,
h4,
h5 {
  font-family: var(--subheading-ff);
  font-weight: var(--subheading-fw);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

div#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
  min-height: 210px;
  width: 100%;
  margin: auto auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/bg-img.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: whitesmoke;
}

div#hero::before {
}

div#hero h1 {
  margin: font-famility;
}

form,
input,
button,
a {
  font-family: var(--main-ff);
  font-weight: var(--main-fw);
}

a {
  font-size: 2em;
  font-weight: var(--subheading-fw);
  font-family: var(--subheading-ff);
}

.icon {
  width: 20px;
  height: 20px;
  color: red;
  padding-left: 25px;
  transform: translate(50px, 50px);
  color: red;
}

.fontsearchbar {
  width: 60%;
  position: relative;
  padding: 0;
  margin: 0;
}

.fontsearchbar i {
  position: absolute;
  left: 15px;
  top: 20px;
  color: gray;
}

input {
  padding: 16px 1em;
  border: 1px solid darkslategrey;
  border-right: none;
  border-radius: 10px 0 0 10px;
  text-align: left;
  width: 100%;
  padding-left: 4em;
  font-size: 1.2em;
  color: slategray;
}

a {
  color: whitesmoke;
  font-size: 1.5em;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

form button {
  padding: 0.5em 1.5em;
  border: 1px solid darkslategrey;
  border-radius: 0 10px 10px 0;
  background-color: rgb(235, 235, 235);
  color: darkslategray;
}

button {
  cursor: pointer;
}
form#movie-search-form {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  /* padding: 1em 20em; */
  transform: translate(0, -24px);
}

main {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em;
  margin-top: 0;
}

img#no-data-initial {
  height: 8em;
  margin-top: 10em;
}

.hidden {
  display: none;
  height: 0;
  margin-top: 0;
}

div.movies-item {
  display: grid;
  width: 100%;
  max-height: 300px;
  max-width: 1200px;
  /* min-height: 200px; */
  gap: 0 1em;
  grid-template-areas:
    "image header "
    "image subheader "
    "image summary";
  grid-template-columns: minmax(100px, 200px) 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0.5em 0;
  padding: 0.5em 0 0.5em;
  border-bottom: 1px solid rgb(197, 197, 197);
}

.movie-image {
  display: block;
  grid-area: image;
  border-radius: 25px;
  object-fit: contain;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
}

.movie-header {
  grid-area: header;
  align-self: end;
  font-size: 2em;
  font-family: var(--subheading-ff);
  font-weight: var(--subheading-fw);
  color: #333;
}

.movie-subheader {
  grid-area: subheader;
  align-self: center;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1em;
  color: #535353;
  padding: 0;
}

.movie-subheader button {
  padding: 0.5em 1em;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--secondary-color) 51%,
    var(--tertiary-color) 100%
  );
  color: whitesmoke;
  border-radius: 10px;
  font-weight: bold;
  line-height: 1.5;
  transition: 0.5s;
}

.btn {
  margin: 0.8em;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 1.125em #eee;
  border-radius: 10px;
}

.btn:hover {
  background-position: right center;
}

.movie-subheader:first-child {
  width: max-content;
  display: inline-block;
}

.movie-summary {
  grid-area: summary;
  justify-self: start;
  align-self: start;
  gap: 0.5em;
  color: #535353;
  padding-top: 0.5em;
  line-height: 1.5;
}

h2#watchlist-title {
  margin: 2em auto;
  width: max-content;
  font-family: var(--heading-ff);
  font-weight: var(--heading-fw);
}

@media (min-width: 500px) {
  .movie-subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 1em;
  }

  div.movies-item {
    min-height: 400px;
  }
}
